.cta {
  @extend .button;
  color: white;
  background-color: $bitsRed;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  &:hover {
    background-color: $bitsYellow;
  }
  &:focus {
    background-color: $bitsYellow;
  }
}
