.titles {
  font-family: $openSansNormal;
  padding-bottom: 0.5rem;
  border-bottom-style: inset;
  border-width: 2px;

  h1 {
    font-family: $openSansNormal;
    text-transform: uppercase;
    font-weight: 800;
  }

  p {
    color: $lightGrey;
  }
}
