.bits-navigation {
  background-color: $darkGrey;

  .logo-container {
    padding: 1rem;
  }

  .hamburger {
    float: right;
    width: 30px;
    margin: 1rem 0.75rem 0 0;
  }

  .close-button {
    color: $bitsYellow;
    font-size: 1.25rem;
    margin: 1rem 0.75rem 0 0;
  }

  &.reveal {
    background-color: $darkGrey;
    padding: 0;
  }
}

