body {
  font-family: $openSansNormal;
}

h1 {
  font-family: $openSansNormal;
  text-transform: uppercase;
  font-weight: 800;
  margin: 1rem 0;
}

h2 {
  font-weight: 800;
}

h3 {
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

h4 {
  font-weight: 700;
  font-size: 1.25rem;
  color: #5B5B5B;
  text-align: center;
}

a {
  color: $bitsRed;
  font-weight: 700;
  text-decoration: underline;
  &:hover {
    color: $bitsYellow;
  }
  &:focus {
    color: $bitsYellow;
  }
}
